<div class = "container">

<h1>All Artists</h1>


<% @artists.each do |artist|%>
    <%= image_tag artist.image, :class => 'artistthumb' if artist.image.present? %>
    <div class="artistcontainerindex">
        Name: <%= link_to artist.name, artist  %>
         Social: <%= artist.social %>
         Work: <%= artist.work %>
         Bio: <%= artist.bio %>``
    </div>
<% end%>


</div>