<h1> <%= @artist.name %></h1>

<%= image_tag @artist.image %>

<ul>
<li>Name: <%= @artist.name %></li>
<li>Social: <%= @artist.social %></li>
<li>Work: <%= @artist.work %></li>
<li>Bio: <%= @artist.bio %></li>


</ul>

