<div class = "artistshowcontainer">

<h1 class="artistshowname">All Promoters</h1>

<% @users.each do |user|%>
    
    <div class="bordershowartist">
        <h3> Name: <%= user.name %></h3> 
        <h3><%= image_tag user.image, :class => 'left' if user.image.present? %>
        <div class="righttext">  website: <%= user.website %>
        FB: <%= user.fb_link %>
        IG: <%= user.ig_link %>
        <% user.gigs.each do |gig| %> 
        <%= link_to gig.name, gig %> </div> </h3> 
    </div>
<% end %> 

<%#Most impressive line of code was this IF statement LOL%>
<div class="controls">
<% if @current_user.present? && (@current_user.email == user.email || @current_user.admin?)  %>
    <%= link_to 'Edit User', edit_user_path(user) %>
    <%= link_to 'Delete User', user, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
<% end%>

<% end%>

</div>

