<h1> <%= @user.name %></h1>

<%= image_tag @user.image %>

<ul>
<li>Name: <%= @user.name %></li>
<li>Website: <%= @user.website %></li>
<li>Email: <%= @user.email %></li>
<li>Facebook: <%= @user.fb_link %></li>
<li>Instagram: <%= @user.ig_link %></li>
<li>Other Link: <%= @user.other_link %></li>
<li>Other Link: <%= @user.other_link %></li>
<li>All my events: <% @user.gigs.each do |gig| %> 
<%= link_to gig.name, gig %>
<% end %> 
</li>

</ul>

<div class="controls">
<% if @current_user.present? && (@current_user.email == @user.email || @current_user.admin?)  %>
    <%= link_to 'Edit User', edit_gig_path(@user) %>
    <%= link_to 'Delete User', @user, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
<% end%>