<div class = "container">

<h1 class = "indexheader">Upcoming Events in Sydney</h1>


<% @gigs.each do |gig|%>
    <ul class = "gigs-index">
    
        <h1 class = "gignameindex"> <%= link_to gig.name, gig %></h1>
        <div class ="giginfoindex">
        <div class="imagecontainer"><%= image_tag gig.image, :class => 'feature' %> <div class="imagetext"> 
        </div> </div> 
        <div class ="giglineupindex"> 
        <h4 class = "artistname"> Lineup: <% gig.artists.each do |artist| %> 
        <%= link_to artist.name, artist %>
        <% end %> 
        </li> 
        <h1 class="gigindexgenre"> Genre: <%= gig.genre %> </h1 class="gigindexgenre">
        </div>
        <button class="button-32" role="button"> <%= link_to 'Tickets!', gig.tickets_link, :class => 'ticketbuttonlink' %> </button>
        </div>
    </ul>  
<% end%>

</div>


