<div class = "gigshowcontainer">
<h1 class = "gigshowh1"> <%= @gig.name %></h1> 

<%= image_tag @gig.image, :class => 'gigshowimage' %>

<ul class = "gigsshowgrid">
<li>Lineup:<% @gig.artists.each do |artist| %> 
        <%= link_to artist.name, artist  %>
        <% end%> 
<li>Location: <%= @gig.location %></li>
<li>Promoter: <%= link_to @gig.user.name, @gig.user %>  </li>
</ul>


<div class="controls">
<% if @current_user == @gig.user || @current_user.admin?  %>
    <%= link_to 'Edit gig', edit_gig_path(@gig) %>
    <%= link_to 'Delete gig', @gig, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
<% end%>


</div>